<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controlador.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaC</servlet-name>
        <servlet-class>Controlador.EmpresaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensajeC</servlet-name>
        <servlet-class>Controlador.MensajeC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioC</servlet-name>
        <servlet-class>Controlador.ServicioC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioM</servlet-name>
        <servlet-class>Controlador.UsuarioM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaM</servlet-name>
        <servlet-class>Controlador.EmpresaM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioM</servlet-name>
        <servlet-class>Controlador.ServicioM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesC</servlet-name>
        <servlet-class>Controlador.FuncionesC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesM</servlet-name>
        <servlet-class>Controlador.FuncionesM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensajeM</servlet-name>
        <servlet-class>Controlador.MensajeM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajadoARealizarC</servlet-name>
        <servlet-class>Controlador.TrabajadoARealizarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajoARealizarM</servlet-name>
        <servlet-class>Controlador.TrabajoARealizarM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajoARealizarC</servlet-name>
        <servlet-class>Controlador.TrabajoARealizarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioC</servlet-name>
        <servlet-class>Controlador.HorarioC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioM</servlet-name>
        <servlet-class>Controlador.HorarioM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminadoC</servlet-name>
        <servlet-class>Controlador.TerminadoC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminadoM</servlet-name>
        <servlet-class>Controlador.TerminadoM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaC</servlet-name>
        <url-pattern>/EmpresaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensajeC</servlet-name>
        <url-pattern>/MensajeC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioC</servlet-name>
        <url-pattern>/ServicioC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioM</servlet-name>
        <url-pattern>/UsuarioM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaM</servlet-name>
        <url-pattern>/EmpresaM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioM</servlet-name>
        <url-pattern>/ServicioM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesC</servlet-name>
        <url-pattern>/FuncionesC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesM</servlet-name>
        <url-pattern>/FuncionesM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensajeM</servlet-name>
        <url-pattern>/MensajeM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajadoARealizarC</servlet-name>
        <url-pattern>/TrabajadoARealizarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajoARealizarM</servlet-name>
        <url-pattern>/TrabajoARealizarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajoARealizarC</servlet-name>
        <url-pattern>/TrabajoARealizarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioC</servlet-name>
        <url-pattern>/HorarioC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioM</servlet-name>
        <url-pattern>/HorarioM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminadoC</servlet-name>
        <url-pattern>/TerminadoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminadoM</servlet-name>
        <url-pattern>/TerminadoM</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
